/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */

.rb-ps-cl {
    border: 1px solid #abb6c2;
    border-radius: 5px;
    color: #343a40;
    font-size: 14px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    line-height: 21px;
    overflow-wrap: break-word;
    background-color: white;
    padding: 10px;
}

/** Expander */
.rb-ps-cl-expander {
    cursor: pointer;
    display: flex;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    color: rgba(30, 83, 206, 0.8);
}

.rb-ps-cl-expander-icon {
    margin-left: auto;
}

.rb-ps-cl-expander-icon {
    transform: rotate(90deg);
    /*transition: transform 0.4s ease;*/
}

.rb-ps-cl.expanded .rb-ps-cl-expander-icon {
    transform: rotate(-90deg);
}

.rb-ps-cl-content {
    overflow: hidden;
    /*transition: max-height 0.4s ease;*/
    max-height: 0;
}

.rb-ps-cl.expanded .rb-ps-cl-content {
    max-height: 100%;
}

/** Content */
.rb-ps-cl-info {
    font-size: 12px;
    color: #5e6974;
}

.rb-ps-cl-title {
    font-weight: 700;
}

.rb-ps-cl-bold {
    font-weight: 700;
}

.rb-ps-cl-row-wrapper {
    display:none;
}

.rb-ps-cl-row-wrapper.expanded {
    display: block;
}

.rb-ps-cl-row {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.rb-ps-cl-row p {
    margin: 0;
}

.rb-ps-cl-row.rb-ps-cl-title p:first-child {
    text-align: left;
}

.rb-ps-cl-row.rb-ps-cl-title p:last-child {
    text-align: right;
}
.rb-ps-cl-section {
    padding:0.8em 0.5em;
}
.rb-ps-cl-section.expanded {
    border:0.2em solid rgba(0, 155, 145, 0.8);
    border-radius: 0.5em;
}

.rb-ps-cl-section:not(.expanded) {
    cursor: pointer;
}

.rb-ps-cl-section:not(:first-child) {
    border-top: 1px solid #ccc;
}
.rb-ps-cl-section:first-child {
    padding-top:calc(0.8em + 2px);
}

.rb-ps-cl-section.expanded:not(:first-child) {
    border-top:0.2em solid rgba(0, 155, 145, 0.8);
}

.rb-ps-cl-section.expanded + .rb-ps-cl-section {
    border:none;
}
